.form {
  width: 500px;
}

.labelForm {
  display: block;
  margin-bottom: 20px;
}

.authBtn {
  display: block;
  margin-top: 15px;
}
.listItem {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid grey;
  padding: 10px 20px;
  position: relative;
}

.authLinksList {
  padding: 0;
  list-style: none;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.authLinksLink {
  text-decoration: none;
  color: black;
  transition: color 250ms;
}

.authLinksLink:hover,
.authLinksLink:focus {
  color: rgb(0, 110, 255);
}
