.form {
  width: 500px;
}

.labelForm {
  display: block;
  margin-bottom: 20px;
}

.listItem {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid grey;
  padding: 10px 20px;
  position: relative;
}
